.restaurant-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  transform: scale(0.4, 0.4);
}

.qr-code {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  margin-top: -110px;
}

.scan-text {
  font-family: "Kumbh Sans";
  width: 100%;
  text-align: center;
}

p:nth-of-type(1) {
  font-size: 35px;
  margin-top: -35px;
}

p:nth-of-type(2) {
  font-size: 100px;
  margin-top: -50px;
  font-weight: bold;
}

.pageFooter {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding-top: 10px;
  width: 100%;
  height: 80px;
  color: #9B9B9B;
  background: #F3F3F3;
}

.content img {
  height: 50px;
  width: 50px;
  float: left;
  margin-top: 15px;
  margin-left: 5px;
}

.powered {
  line-height: 50px;
  vertical-align: top;
  padding-left: 60px;
  color: black;
  font-weight: 500;
}

.site-url {
  line-height: 0px;
  color: #9b9b9b;
  padding-left: 60px;
}

.short-menu-url {
  text-align: center;
  width: 13em;
  float: right;
  line-height: 35px;
  border-radius: 28px;
  border: 1px solid #9b9b9b;
  margin-right: 15px;
  margin-top: -30px;
}

@media print {
  @page {
    size: 229mm 324mm
  }
}