body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.title-wrapper {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  margin-top: -12px;
}

h1 {
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  line-height: 42px;
  color: #fff;
  margin-bottom: 0;
  margin-top: -16px;
}

h2 {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 0;
  letter-spacing: 5px;
  font-size: 15px;
  color: #fff;
  margin-bottom: 8px;
}

.cover-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 200px;
}

.cover-photo {
  min-height: 200px;
  max-width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
}

.bottom-gradient {
  width: 100vw;
  height: 110px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(#22181800, #221818);
  z-index: -1;
}

.restaurant-logo-wrapper {
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin: auto;
  z-index: 10;
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 100%;
  flex-shrink: 0;
}

.restaurant-logo-wrapper .inner {
  border-radius: 100%;
  overflow: hidden;
}

.restaurant-logo-wrapper img {
  height: 100%;
}

::placeholder {
  color: #221818;
}

.search-wrapper {
  background-color: #221818;
  padding: 16px;
  position: relative;
}

.search-icon {
  position: absolute;
  top: 26px;
  left: 28px;
  color: #221818;
  width: 30px;
  height: 30px;
  font-size: 25px;
}

.search-wrapper input {
  background-clip: padding-box;
  background-color: #fff;
  color: #221818;
  outline: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 10px 12px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  width: calc(100vw - 16px * 2);
  padding-left: 50px;
  height: 42px;
}

.categories-wrapper {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
}

.category-button {
  display: inline-block;
  box-shadow: 0 4px 12px #22181811;
  background: #fff;
  border-radius: 8px;
  padding: 10px 12px;
  margin-right: 8px;
  margin-bottom: 8px;
  border: 1px solid #2218181a;
  color: #221818;
  transition: all 0.2s ease-in-out;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.category-button.active {
  background-color: #f7c524;
}

.category {
  padding: 8px;
  padding-bottom: 32px;
}

.category:nth-child(even) {
  background-color: #77777710;
}

.category-label {
  margin-bottom: 8px;
  margin-left: 13px;
  margin-top: 12px;
}

.products-wrapper {
  padding-top: 0;
}

.product {
  display: inline-block;
  position: relative;
  border-radius: 8px;
  padding: 10px 12px;
  margin-bottom: 8px;
  color: #221818;
  transition: all 0.2s ease-in-out;
  border: 1px solid #2218181a;
  width: calc(100% - 24px);
  overflow: hidden;
  background-color: #fff;
}

.product .name {
  font-weight: bold;
  font-size: 18px;
  text-shadow: 2px 2px 4px #fff;
}

.product .description {
  font-size: 14px;
  display: none;
  margin-top: 4px;
  text-shadow: 1px ​1px 2px #fff;
}

.product:hover .description {
  display: block;
}
.product:hover .photo {
  opacity: 0.6;
}

.product .weight {
  font-size: 14px;
  margin-top: 8px;
}

.product .price {
  font-weight: bold;
  margin-top: 24px;
  font-size: 18px;
}

.product .price.obsolete {
  text-decoration: line-through;
  font-weight: 500;
  font-size: 14px;
  margin-top: 8px;
}

.product .discounted-price {
  color: #f44336;
  font-weight: bold;
  font-size: 18px;
}

.product .content {
  position: relative;
  z-index: 2;
}

.product .photo {
  font-weight: bold;
  font-size: 18px;
  float: right;
  height: 110%;
  position: absolute;
  top: -5%;
  left: 55vw;
  z-index: 0;
  min-width: 41vw;
}

.product .gradient {
  width: 100vw;
  height: 180px;
  position: absolute;
  left: -1vw;
  bottom: -41px;
  background: linear-gradient(#fff, #ffff, #ffff, #fff0);
  transform: rotate(-80deg);
  z-index: 1;
}
